
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    text-align: center;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.dark{
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    margin: 0;
    padding: 0;
}

.button-one{
    height: 38px;
    background: #e8491d;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    border: 0;
}

header {
    background-image: linear-gradient(#53b6f0, #0d93e0);
    box-shadow: 2px 2px 8px #333333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    min-height: 100px;
}
header h1 {
    color: #ffffff;
    font-size: 45px;
    padding: 0;
    margin: 0;
    text-shadow: 2px 2px 2px #222222;
}
header ul {
    margin: 0;
    padding: 0;
}
header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    text-shadow: 2px 2px 2px #222222;
}
header li {
    display: inline;
    padding: 0 20px 0 20px;
}
.highlight, .current a {
    color: #f5f116;
    font-weight: bold;
}
header #branding h1 {
    padding: 20px;
}
header .highlight, header .current a {
    color: #f5f116;
    font-weight: bold;
}
header a:hover {
    color: #cccccc;
    font-weight: bold;
    opacity: 75%;
}
#showcase {
    min-height: 500px;
    background: url("./image/showcase09.jpg") no-repeat 0 -310px;
    background-size: cover;
    text-align: center;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    color: #ffffff;
}

#showcase-footer {
    margin: 0;
    font-size: 35px;
    background-image: linear-gradient(#53b6f0, #0d93e0);
}
#newsletter{
    padding: 15px;
    color: #ffffff;
    text-shadow: 2px 2px 8px #333333;
    background-image: linear-gradient(#53b6f0, #0d93e0);
    box-shadow: -2px -2px 8px #333333;
}

#newsletter form{
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

#boxes{
    margin: 50px;
    min-height: 500px;
}

#boxes .box{
    width: 30%;
    margin: 30px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: #333333;
    box-shadow: 2px 2px 10px #333333;
    background-color: #ffffff;
}

#boxes .box img{
    width: 280px;
    height: 400px;
}

footer{
    padding: 20px;
    margin-top: auto;
    color: #ffffff;
    background-color: #0d93e0;
    text-align: center;
    margin-top: 30px;
    text-shadow: 2px 2px 2px #333333;
    box-shadow: -2px -2px 4px #333333;
}
.footer-about {
    position: fixed;
    bottom: 0;
    width: 100%;
}
#main {
    min-height: 400px;
}

aside#sidebar{
    float: right;
    border-left: #e8491d 3px solid;
    padding: 20px;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
    width: 90%;
    padding: 5px;
}

article#main-col{
    margin-top: 10px;
    float: left;
    width: 55%;
    font-size: 25px;
}

ul#services li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}

@media(max-width: 1300px) {
    #showcase {
        background: url("image/showcase990.jpg") no-repeat 0 -100px;
        background-size: cover;
    }
}
@media(max-width: 968px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }
    #boxes .box {
        width: 100%;
    }
    #showcase {
        background: url("image/showcase990.jpg") no-repeat 0 0;
        background-size: cover;
    }
}
@media(max-width: 768px) {
    #showcase {
        background: url("image/showcase768.jpg") no-repeat 0 0;
        background-size: cover;
    }
    header h1 {
        font-size: 35px;
    }
    header li {
        padding: 0 5px 0 5px;
    }
    header a {
        font-size: 18px;
    }
    .button-one {
        margin-top: 10px;
        display: inline-block;
        width: 72%;
    }
}
